@page "/testUserPage"
@using SDK.Interfaces

<PageTitle>Users</PageTitle>

<h1>Users</h1>
@foreach (var a in _users)
{
    <p role="status">@a<br/></p>
}

<Button class="btn btn-primary" @onclick="GetUsers">Click me</Button>
<Button class="btn btn-primary" @onclick="CreateUser">Create</Button>


@code {
    [Inject]
    public IClofiApiClient ClofiApiClient { get; set; }

    private List<string> _users = new ();

    private async Task GetUsers()
    {
        _users = (await ClofiApiClient.GetUsers()).Response.Select(u => u.Email).ToList();
    }

	private async Task CreateUser()
	{
		await ClofiApiClient.CreateUser(new User()
		{
			Email = "email",
			FirstName = "sdsd",
			LastName = "sdsd",
			Password = "sdsds",
			Username = "sdsd"
		});
	}
}
